In [6]:
import pandas as pd

In [7]:
from urllib.request import urlopen
import json
from datetime import datetime

In [8]:
response = urlopen("https://wowtokenprices.com/history_prices_full.json")
json_data = response.read().decode('utf-8', 'replace')

d = json.loads(json_data)
df = pd.json_normalize(d[''])
df["Date"] = pd.to_datetime(df['time'],unit='s')
df

         price        time                Date
0        22386  1428831390 2015-04-12 09:36:30
1        22162  1428835384 2015-04-12 10:43:04
2        21940  1428837415 2015-04-12 11:16:55
3        21721  1428841107 2015-04-12 12:18:27
4        21504  1428844572 2015-04-12 13:16:12
...        ...         ...                 ...
121319  117728  1593364530 2020-06-28 17:15:30
121320  117261  1593365730 2020-06-28 17:35:30
121321  116822  1593366930 2020-06-28 17:55:30
121322  116625  1593368130 2020-06-28 18:15:30
121323  116590  1593369330 2020-06-28 18:35:30

[121324 rows x 3 columns]

In [9]:
df.to_json('WowTokenPrice_us.json', orient='records')